* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #2c1810;
  position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
    color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links  a {
  color: #fff;
  text-decoration: none;
}
.nav-links  a:hover {
  color: #f0a500;
}

.hero{
    background: linear-gradient(rgba(44,24,16,0.7), rgba(44,24,16,0.7)), url('https://i.pinimg.com/1200x/d1/28/32/d128329a91dc003d3e419ab811ab8d9a.jpg') center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 60px;
}

.hero-conteudo {
    text-align: center;
    max-width: 600px;
}

.hero-conteudo h1 {
   font-size: 3rem;
   margin-bottom: 1;
}
.hero-conteudo p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #f0a500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background-color: #976700;
}

.sobre {
    padding: 5rem 2rem;
    background-color: #f9f9f9;
    text-align: center;
}

.sobre h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2c1810;
}

.sobre p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    color: #666666;
}

.produtos {
    padding: 5rem 2rem;
    background-color: #fff;
  
}

.produtos h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: #2c1810;
}

.produtos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.produto-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    padding: 2rem;
    transition: 0.5s;
    cursor: pointer;
}

.produto-card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    
}

.produto-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.preco {
    font-weight: bold;
    font-size: 1.5rem;
    color: #f0a500;
    margin-bottom: 1rem;
}

.localizacao {
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
}

.localizacao h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: #2c1810;
}

.contato-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.mapa {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;

}

.iframe {
    display: block;
}

.footer {
    background-color: #2c1810;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}